{% load static %}  

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='{% static "css/mystyle.css"%}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/normalize.min.css"%}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/bootstrap.min.css"%}' type='text/css' id="bootstrap-css" />
    <link rel='stylesheet' href='{% static "css/teststyle.css"%}' type='text/css' />


    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href='{% static "css/style.css" %}' type="text/css" media="all" />
    <script type="text/javascript" src='{% static "js/jquery-1.4.2.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/jquery-func.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script> 
    <script type="text/javascript" src='{% static "js/jquery-1.11.1.min.js" %}'></script> 
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock %}
    <title>افلام ومسلسلات</title>
</head>

<body>
    <header class="w-100 mb-2 z-30 py-4 px-6 flex flex-row-reverse bg-slate-900 items-center border-b border-slate-500">
        <a href="#" class="mx-10 text-xl font-bold"><img src='{% static "images/logo1.png" %}' height="80.5" width="119"></a>
        <div class="space-x-3 space-x-reverse">
            <a href="{% url 'app:movies' %}"
                class="px-6 py-3 text-3xl font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">افلام</a>
            <a href="{% url 'app:series' %}"
                class="px-6 py-3 text-3xl font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">مسلسلات</a>
            <a href="{% url 'app:tvshows' %}"
                class="px-6 py-3 text-3xl font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">برامج
                تلفزيونية</a>
            <a href="#" class="px-6 py-3 text-3xl font-semibold bg-blue-600 text-white rounded-xl hover:bg-blue-800">آخر
                الاضافات</a>
        </div>
        <div class="w-1/3 mr-36">
            <form method="GET" action="{% url 'app:search' %}" class="flex flex-row-reverse">
                <div class="search">
                    <input type="text" name="query" class="search__input" placeholder="ابحث عن فيلم او مسلسل">
                    <button class="search__button">
                        <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                            <g>
                                <path
                                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                </path>
                            </g>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </header>
    <div dir="rtl" class="place-content-start align-top flex flex-row w-full">
        <div class="w-2/12 mx-2 bg-slate-100">
            <div class="flex flex-col border border-slate-600 rounded">
                <a href="{% url 'app:movies' %}" class="px-2 py-2 pt-3 font-bold text-3xl text-slate-700 hover:bg-slate-200">افلام</a>
                <a href="{% url 'app:series' %}"
                    class="px-2 py-2 pt-3 font-bold text-3xl text-slate-700 border-t border-slate-300 hover:bg-slate-200">مسلسلات</a>
                <a href="{% url 'app:tvshows' %}"
                    class="px-2 py-2 pt-3 font-bold text-3xl text-slate-700 border-t border-slate-300 hover:bg-slate-200">برامج
                    تلفزيونية</a>
                <a href="#"
                    class="px-2 py-2 pt-3 font-bold text-3xl text-slate-700 border-t border-slate-300 hover:bg-slate-200">آخر
                    الاضافات</a>

            </div>

        </div>
        <div class="py-4 px-4 w-9/12 h-max mx-2 flex flex-col bg-slate-900">
            {% block content %}
            {% endblock%}
        </div>
    </div>
    


</body>

</html>